*cache*
*checkpoints*
*.keras*
dayly_plots*
experiment_plots*
old_results*
**.keras
**.npz
**.json
**.csv
**ipynb_checkpoints
**ruff_cache
**vscode
**.png

**reports_**
**.aux
**main.**
!**main.tex
**.pkl
